.wrapper.row2{
    background-image: url("../images/S00165311-Nauris_Eidulis/universe.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}


